.ab:hover{
    background-color: rgb(25, 138, 68) !important;

}
.bc:hover{
    background-color: rgb(231, 200, 20) !important;
}
.cd:hover{
    background-color: rgb(238, 32, 32) !important;
}

body{
    background-color: rgb(197, 195, 195);
}
.tabsofsuphome:hover {
    background-color:rgb(197, 195, 195) !important ;
   
}
.tabsofsuphome{
    background-color:rgb(197, 195, 195) !important  ;
}

.nav-tabs .nav-link.active{
    --mdb-nav-tabs-link-active-border-color: rgb(255, 115, 0) !important ;
    --mdb-nav-tabs-link-active-color:black !important;
    --mdb-nav-tabs-link-border-bottom-width:4px !important;
 }

 .DatePicker_buttonWrapper__HpQer{
    box-sizing: none !important;
 }
 .DatePicker_monthYearLabel__uByH0{
    font-size: 10px !important;
    font-weight: 900 !important;
    margin-right: 0px !important;
    margin-bottom: 4px !important;
 }
 .modal-dialog {
    position:fixed !important;
    top:auto !important;
 
    bottom:0 !important;
   
 }  

 @media (max-width: 768px) {

    .managewidth{
      width: 100% !important;    
    }
    
  }
  @media (max-width: 1500px) {

    .managewidth{
      width: 50% ;    
    }
    
  }

  .itemnotvisible{
    background-color: rgb(197, 195, 195);
    
  }
  /* .des{
    height: 800px !important;
  } */

  /* .maindivoflabour{
    height: 100% !important;
  } */

  @media(max-width:900px){
    .cardtabdesign{
      height: 20rem !important;
      overflow-y: scroll !important;
      
      grid-template-columns:  auto !important;
      display: grid !important;
    } 
  
   
  }
.cardtabdesign{
  display: grid !important; 
  grid-template-columns: auto auto auto auto;
}
.imges{
  height: 60px !important;
  width: 60px !important;
  background-color: rgb(4, 10, 10);
  border-radius: 50%;
}
  
@media(max-width:1600px){
  .cardtabdesign{
    height: 22rem !important;

  }
  .maindivoflabour{
    display: flex;
    justify-content: space-between;
    height: 150px !important;
    width: 300px !important;
  }
}

@media(max-width:776px){
  .cardtabdesign{
    height: 27rem !important;

  }
  .maindivoflabour{
    display: flex;
    justify-content: space-between;
    height: 161px !important;
    width: 371px !important;
  }

  .nav-tabs .nav-link {

    --mdb-nav-tabs-link-padding-x: 19px !important;
  }

}
@media(max-width:390px){
 
.nav-tabs .nav-link {

  --mdb-nav-tabs-link-padding-x: 19px !important;
}
}
